usuario/.classpath
usuario/.project
usuario/.settings/
usuario/target/

shop/.classpath
shop/.project
shop/.settings/
shop/target/

produtos/.settings/
produtos/target/
produtos/.classpath
produtos/.project

client/.classpath
client/.project
client/.settings/
client/target/

keycloak/.classpath
keycloak/.project
keycloak/.settings/
keycloak/target/

chupacabra/

/.metadata/

*.iml
